{% include 'base.html' %}


{% block header_scripts %}
<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
{% endblock header_scripts %}


{% block content_body %}
<div style="width:100%;">
  <h1 style="text-align:center;">{{coin.coin_name}}</h1>
  <div style="width:100%;">
  <div style="width:33%; text-align:left;display:inline-block;margin:10px;"></div>
    <div style="display:inline-block;width:30%;font-size:x-large;">Price: <span id="price" style="font-size: xxx-large;"></span>€
      <div style="margin:20px 0 5px 0;padding:5px;width:80%;text-align:right;position: relative;float:right;text-align: left;">
        <div style="font-size:large;display: grid;">
        <span><label>Limit: </label><input type="number" id="limit" style="padding:5px;width:5pc;border-radius: 15px;"></span><br>
        <span><label>Time Period: </label><input style="padding:5px;width:5pc;border-radius: 15px;" list="time_periods" name="time" id="time"></span>
        <datalist id="time_periods">
          <option value="hour"></option>
          <option value="day"></option>
        </datalist>
        <button onclick="chart();">Search</button>
        </div>
      </div>
    </div>
  <div style="text-align:right;width:33%;display:inline-block; margin:10px;padding:5px;"></div>
  </div>
</div>
<div id="chartDiv" style="max-width: 740px;height: 400px;margin: 0px auto;"></div>

{% endblock content_body %}




{% block scripts %}
<script type="text/javascript">

async function chart(){
    var time_period = document.getElementById('time').value;
    if (time_period == 'hour')
      endpoint = 'histohour';
    if (time_period == 'day')
      endpoint = 'histoday';
    let limit = document.getElementById('limit').value || 90;
    console.log(limit);
    console.log(document.getElementById('limit').value);

    let headers= {
      "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
    };
    let options = {
      method: 'POST',
      mode: 'cors',
      headers: headers,
      body: 'sym={{coin.coin_name}}&exc=eur&limit='+limit,
    };

    var endpoint = "histohour";

    window.postJson = function(options){
      return fetch('http://localhost:5000/'+endpoint, options).then((res) => {return res.json()});
    }
    points = [];
    const json = await postJson(options).then((data) => {
        for (let i = 0; i < data['Array'].length; i++) {
            parcel = data['Array'][i];
            points[i] = [parcel['time'], (parcel['open']), (parcel['low']), (parcel['high']),  (parcel['close'])];
        }
    })
      var chart = JSC.chart('chartDiv', {
        debug: true,
        type: 'candlestick',
        palette: 'fiveColor18',
        legend: {
          template: '{{coin.coin_name}}',
          position: 'inside top left'
        },
        yAxis: {
          formatString: 'c',
          markers: [
            /* The legend entry is unified into only the support marker to represent both support and resistance. */
            {
              value: 102.2,
              color: 'crimson',
              label: { text: 'Resistance', align: 'center' },
              legendEntry_visible: false
            },
            {
              value: 91,
              color: 'crimson',
              label: { text: 'Support', align: 'center' },
              legendEntry_name: 'Support/Resistance'
            }
          ]
        },
        xAxis_crosshair_enabled: 'time',
        defaultPoint: {
          outline_width: 0,
          altColor: '#ff4734',
          color: '#33ae5b',
          subvalue_line_color: '#555',
          tooltip: tooltip
        },
        xAxis_scale_type: 'price',
        series: [
          {
            name: '{{coin.coin_name}}',
            points: points
          }
        ]
      });
      console.log(points);
      function tooltip(point) {
        var color = point.options('close') > point.options('open') ? 'green' : 'red';
        return (
          'Change: <span style="color:' +
          color +
          '">{%close-%open}</span><br>Open: %open<br/>High: %high<br/>Low: %low<br/>Close: %close'
        );
      }
      var color = points[limit][4] > points[limit][1] ? 'green' : 'red';
      document.getElementById('price').style = 'color: '+color;
      document.getElementById('price').innerHTML = points[limit][3];

  }

chart();





</script>




{% endblock scripts %}